<!doctype html>
    <html>
    <head>
         <meta charset="utf-8">
         <link rel="stylesheet" href="/stylesheet/styles.css" />
          </head>
          <body>

            <h1>About</h1>
            <p>Björk Guðmundsdóttir. Born 21 November 1965, 
            is an Icelandic singer, songwriter, composer, record producer, and actress. 
            Noted for her distinct three-octave vocal range and eccentric persona, she 
            has developed an eclectic musical style over her four-decade career that has
             drawn on electronic, pop, experimental, trip hop, classical, and avant-garde music.

            Born and raised in Reykjavík, Björk began her music career at the age of 11 and gained
             international recognition as the lead singer of the alternative rock band the Sugarcubes, 
             by the age of 21.[2] After the Sugarcubes disbanded in 1992, Björk began a solo career. 
             She came to prominence with albums such as Debut (1993), Post (1995), and Homogenic (1997),
              collaborating with a range of artists and exploring a variety of multimedia projects. Her 
              other albums include Vespertine (2001), Medúlla (2004), Volta (2007), Biophilia (2011), 
              Vulnicura (2015), Utopia (2017) and Fossora (2022).</p>
            
            <img src="/images/bjork.jpg"/>
          </body>
        </html>