<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/stylesheet/styles.css" />

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums</title>
</head>
<body>
    <div class ="container">
    <div class="gallery">
 <figure class=”gallery__item gallery__item--1">
<img src="images/fossora.jpg" class="gallery__img" alt="Image 1">
  Fossora - 2022
 </figure>
 <figure class="gallery__item gallery__item--2">
 <img src="images/utopia.jpg" class="gallery__img" alt="Image 2">
  Utopia - 2017
 </figure>
 <figure class="gallery__item gallery__item--3">
 <img src="images/lionsong.jpg" class="gallery__img" alt="Image 3">
  Vulnicura - 2015
  </figure>
 <figure class="gallery__item gallery__item--4">
 <img src="images/biophilia.jpg" class="gallery__img" alt="Image 4">
  Biophilia - 2011
  </figure>
 <figure class="gallery__item gallery__item--5">
 <img src="images/volta.jpg" class="gallery__img" alt="Image 5">
  Volta - 2007
 </figure>
 <figure class="gallery__item gallery__item--6">
 <img src="images/medulla.jpg" class="gallery__img" alt="Image 6">
  Medúlla - 2004
</figure>
<figure class="gallery__item gallery__item--7">
<img src="images/vespertine.jpg" class="gallery__img" alt="Image 7">
 Vespertine - 2001
</figure>
<figure class="gallery__item gallery__item--8">
<img src="images/homogenic.jpg" class="gallery__img" alt="Image 8">
 Homogenic - 1997
</figure>
<figure class="gallery__item gallery__item--9">
<img src="images/armyofme.jpg" class="gallery__img" alt="Image 9">
 Post - 1995
<figure class="gallery__item gallery__item--10">
<div></div>
<img src="images/debut.jpg" class="gallery__img" alt="Image 9">
 Debut - 1993
</figure>
 </div>
</body>
</html>